{% if current_user.is_authenticated %}
<nav class="navbar is-light" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="{{ url_for('main.index') }}">
      <img src="{{ url_for('static', filename='img/icon-192.png') }}" alt="Logo">
    </a>

    <!-- Botón hamburguesa -->
    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarMenu">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarMenu" class="navbar-menu">
    <div class="navbar-start">
      
      <!-- Lógica de usuario ya autenticado -->
      
        <a class="navbar-item" href="{{ url_for('main.index') }}">Inicio</a>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">Panel</a>
          <div class="navbar-dropdown">
              <a class="navbar-item" href="{{ url_for('metrics.downloads_metrics')}}">Descargas</a>
              <a class="navbar-item" href="{{ url_for('metrics.metrics_dashboard')}}">Métricas</a>
          </div>
        </div>
          <a class="navbar-item" href="#">Administración</a>
      <!-- Usuario no autenticado -->
      
        
      
    </div>

    <!-- Cierre de sesión -->
    {% if current_user.is_authenticated %}
    <div class="navbar-end">
      <div class="navbar-item">
        <span>👋 {{ current_user.primer_nombre }}</span>
      </div>
      <div class="navbar-item">
        <a class="button is-light" href="{{ url_for('auth.logout') }}">Cerrar sesión</a>
      </div>
    </div>
    {% endif %}
  </div>
</nav>
{% endif %}