{% extends "base.html" %}
{% block title %}Recuperar contraseña{% endblock %}

{% block content %}
<section class="section">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-one-third">
                <h1 class="title has-text-centered">Recuperar contraseña</h1>
                <div class="box">
                    <form method="POST">
                    {{ form.hidden_tag() }}

                    <div class="field">
                        <label class="label">Correo electrónico</label>
                        <div class="control has-icons-left">
                        {{ form.email(class="input", placeholder="ejemplo@correo.com") }}
                        <span class="icon is-small is-left"><i class="fas fa-envelope"></i></span>
                        </div>
                        {% if form.email.errors %}
                        <p class="help is-danger">{{ form.email.errors[0] }}</p>
                        {% endif %}
                    </div>

                    <div class="field">
                        <div class="control">
                        {{ form.submit(class="button is-primary is-fullwidth") }}
                        </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}