{% extends "base.html" %}
{% block title %}Establecer nueva contraseña{% endblock %}

{% block content %}
<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-one-third">
        <h1 class="title has-text-centered">Establecer nueva contraseña</h1>
        <div class="box">
          <form method="POST">
            {{ form.hidden_tag() }}

            <div class="field">
              <label class="label">Nueva contraseña</label>
              <div class="control has-icons-left">
                {{ form.new_password(class="input", placeholder="********") }}
                <span class="icon is-small is-left"><i class="fas fa-lock"></i></span>
              </div>
              {% if form.new_password.errors %}
                <p class="help is-danger">{{ form.new_password.errors[0] }}</p>
              {% endif %}
            </div>

            <div class="field">
              <label class="label">Confirmar contraseña</label>
              <div class="control has-icons-left">
                {{ form.confirm_password(class="input", placeholder="********") }}
                <span class="icon is-small is-left"><i class="fas fa-lock"></i></span>
              </div>
              {% if form.confirm_password.errors %}
                <p class="help is-danger">{{ form.confirm_password.errors[0] }}</p>
              {% endif %}
            </div>

            <div class="field">
              <div class="control">
                {{ form.submit(class="button is-success is-fullwidth") }}
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}